# prepared with the help of https://github.com/marketplace/actions/python-coverage-comment

name: Test Coverage
on: [pull_request]

jobs:
  build:

    runs-on: windows-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          C:\Miniconda\condabin\conda.bat update -n base -c defaults conda
          C:\Miniconda\condabin\conda.bat config --add channels conda-forge
          C:\Miniconda\condabin\conda.bat config --set channel_priority strict
          C:\Miniconda\condabin\conda.bat env update --file environment.yaml --name base
          C:\Miniconda\condabin\conda.bat activate base
          C:\Miniconda\condabin\conda.bat install coverage
          pip install genbadge[coverage]
          C:\Miniconda\condabin\conda.bat list
          C:\Miniconda\condabin\conda.bat init powershell
      - name: Run coverage check
        run: |
          # Activate the testenv environment
          C:\Miniconda\condabin\conda.bat activate base
          C:\Miniconda\condabin\conda.bat list
          coverage xml -o coverage.xml
          genbadge coverage -i coverage.xml
        env:
          COVERAGE_FILE: "coverage.xml"
        
